<%- include('partials/header') %>
<br>
    <div id="homepanel">
            <h1>Choose Option!</h1>
            <br>
    <form method="POST" action="/loginpage">
        <button class="btn btn-dark"  type="submit">Login</button>
    </form>
    <br>
    <form method="POST" action="/registerpage">
        <button class="btn btn-dark"  type="submit">Register</button>
    </form>
</div>

<%- include('partials/footer') %>